body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(179, 111, 22, 0.658);
}

.keyboard-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: fit-content;
    background-color: rgb(131, 12, 12);
    padding: 3px;
    padding-bottom: 5px;
    width: 800px;
    cursor: none;
}

.textField {
    background-color: antiquewhite;
    border: 2px solid black;
    align-self: center;
    overflow:hidden;
    resize: none;
}

.keyboard-row {
    display: flex;
    margin-bottom: 2px;
    margin-top: 2px;
    justify-content: space-between;
}

.keyboard-button1:hover, .keyboard-button2:hover, .keyboard-button5:hover {
    cursor: pointer;
}

.keyboard-button1 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(202, 199, 37, 0.863);
    margin-left: 2px;
    margin-right: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: none;
    caret-color: transparent;
}

.keyboard-button2 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    width: 250%;
    height: 40px;
    background-color: rgba(255, 251, 0, 0.863);
    margin-left: 2px;
    margin-right: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    caret-color: transparent;
}

.keyboard-button5 {
    display: flex;    
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 600%;
    height: 40px;
    background-color: rgba(255, 251, 0, 0.863);
    margin-left: 2px;
    margin-right: 2px;
    caret-color: transparent;
}

.special {
    background-color: rgba(255, 251, 0, 0.863);
}

.keypressed {
    background-color: rgb(164, 175, 184);
    cursor:none;
    
    animation-name: press;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    
}

@keyframes press{
    0%    {background-color: rgba(255, 251, 0, 0.863); }
    20%   {color: rgb(164, 175, 184);}
    100%  { background-color: rgb(164, 175, 184); border-radius: 135px; color: transparent;}
}

.label {
    margin-left: 4px;
    pointer-events: none;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50px
}
